.card {
  width: 48%;
  margin-inline: 1%;
  margin-block: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(212, 235, 236);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 1.2rem;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 0.2px solid rgb(164, 164, 164);
    padding-top: 1rem;

    .icon {
      font-size: 1.5rem;
      cursor: pointer;

      &:nth-child(2) {
        color: teal;
      }

      &:last-child {
        color: darksalmon;

        &:hover {
          color: red;
        }
      }
    }
  }
}